<div class="main-div">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <!--API Key-->
      <mat-form-field>
        <input matInput name="apiKey" type="text" ngModel #apikeyInput="ngModel" placeholder="API Key" required>
        <mat-error *ngIf="apikeyInput.invalid">Entrez une API Key</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Connexion</button>
    </form>
  </mat-card>
</div>
