<div class="main-div">
    <mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <mat-form-field>
                <input matInput 
                name="email"
                ngModel
                type="email" 
                placeholder="Email"
                #emailInput="ngModel"
                required
                email>
                <mat-error *ngIf="emailInput.invalid">Entrez un email valide</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput 
                name="password"
                type="password" 
                ngModel
                #passwordInput="ngModel"
                placeholder="Mot de passe"
                required>
                <mat-error *ngIf="passwordInput.invalid">Mauvais mot de passe</mat-error>
            </mat-form-field>

            <button 
                mat-raised-button 
                color="primary"
                type="submit">Connexion
            </button>
        </form>
    </mat-card>
</div>