<h2 class="title" *ngIf="editMode == false">Ajout Ingrédient</h2>
<h2 class="title" *ngIf="editMode == true">Edition Ingrédient</h2>

<div class="main-div">
  <mat-card>
    <form [formGroup]="formulaire" (submit)="onSavePost()">
      <!--Nom-->
      <mat-form-field>
        <input matInput type="text" formControlName='name' placeholder="Nom">
        <mat-error *ngIf="formulaire.get('name')!.invalid">Entrez un nom</mat-error>
      </mat-form-field>

      <!--Consumable-->
      <mat-checkbox formControlName='consumable' style="margin-bottom: 1rem;">Consommable</mat-checkbox>

      <!--Unit of measure-->
      <mat-form-field appearance="fill">
        <mat-label>Unité de mesure</mat-label>
        <mat-select formControlName='unitOfMeasure'>
          <mat-option *ngFor="let uom of ingredientUnitOfMeasures" [value]="uom">
            {{uom}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--Image URL-->
      <mat-form-field *ngIf="editMode == false">
        <input matInput type="text" formControlName='imageUrl' placeholder="URL de l'image">
        <mat-error *ngIf="formulaire.get('imageUrl')!.invalid">Entrez un URL</mat-error>
      </mat-form-field>

      <!--Imput-->
      <button mat-raised-button *ngIf="editMode == false" color="primary" type="submit"
        style="margin-top: 1rem;">Sauvegarder ingrédient</button>
      <button mat-raised-button *ngIf="editMode == true" color="primary" type="submit"
        style="margin-top: 1rem;">Modifier ingrédient</button>
    </form>
  </mat-card>
</div>
