.title{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    color: rgb(14, 180, 102);
}

mat-card {
    margin-top: 1rem;
    width: 75%;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.onSameLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

mat-form-field,
textarea {
    width: 35%;
}