<div class="pantry-header">
  <h2 class="title">Inventaire Garde Manger</h2>
  <a mat-raised-button color="primary" routerLink="/pantry/create">Ajouter nourriture</a>
  <a mat-raised-button color="link" style="margin-left: 1rem;" (click)="refreshTodoist()">Actualiser Todoist</a>
</div>

<mat-spinner *ngIf="isReady == false" class="spinner"></mat-spinner>
<mat-accordion *ngIf="inventory.length > 0 && isReady">
  <mat-card *ngFor="let ingredient of inventory">
    <mat-card-header>
      <mat-card-title>
        <a class="pantryLink" [routerLink]="['/pantry/create', ingredient.ingredientID]">{{ ingredient.ingredientName }}</a>
      </mat-card-title>
    </mat-card-header>

    <div class="ingredient-image">
      <img [src]="ingredient.ingredientImagePath" [alt]="ingredient.ingredientName">
    </div>

    <mat-card-content>
      <h2>Liste des éléments</h2>
      <div class="onSameLine" *ngFor="let pantry of ingredient.pantries">
        <h3 class="ingredientQuantity">{{pantry.quantity}}</h3>
        <a mat-raised-button color="primary" [routerLink]="['/pantry/edit', pantry._id]">
          <mat-icon>edit</mat-icon>
        </a>
        <div *ngIf="ingredient.ingredientFreezable && (pantry.frozen == false || pantry.frozen == undefined)">
          <a mat-raised-button color="primary" (click)="freezePantry(pantry._id)"><img src="assets/snowflake-solid.svg" width="20"></a>
        </div>
        <div *ngIf="pantry.frozen == true">
          <a mat-button color="primary"><img src="assets/snowflake-solid.svg" class="snowflak-filter" width="20"></a>
        </div>
        <a mat-raised-button color="warn" (click)="buyAgain(ingredient.ingredientID, ingredient.ingredientName, pantry.quantity, pantry._id)"
          style="margin-right: 1rem;">
          <mat-icon>refresh</mat-icon>
        </a>
        <a mat-raised-button color="warn" (click)="deletePantry(pantry)">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="inventory.length == 0">Aucun éléments</p>
